
    <div class="jumbotron text-center">
        <h1>Eat-Da-BUrger</h1>
        <p>Enter your favorite burger to add it to the menu and devour it whenever you like</p> 
      </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 menu"></div>
            <div class="col-md-6 devoured"></div>
        </div>
        <div class="form-group">
            <label for="Burgers">What do you want to eat?:</label>
            <textarea class="form-control" rows="3" id="burger"></textarea>
            <button type="submit" class="btn btn-primary disabled btn-block orderBurger">Add burger to menu</button>
        </div>
    </div>
    
